{% extends '_base/_page-nav.twig' %}

{% block page_nav 'Labels' %}

{% block page_title __('page.labels-listing.title') %}

{% block page_main %}

<table class="dashboardlisting">
<tr>
    <th>{{ l('labels-ui:label') }}</th>
    <th>{{ sourceLanguage }}</th>
    <th>{{ destLanguage }}</th>
<tr>
{% for item in items %}
<tr>
    <td>{{ item['label'] }}</td>
    <td>{{ item['source_translation'] }}</td>
    <td>{{ item['translation'] }}</td>
<tr>
{% endfor %}
</table>
{% endblock page_main %}
